.title-stats {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.select-box {
  display: flex;
  gap: 2rem;
  align-items: start;
  flex-direction: row;
}

.select-box-data {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.select-box-status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.3rem;
  flex-direction: row;
}

.select-box-status label {
  margin-right: 20px;
}

.select-check input {
  margin-right: 5px;
}

.select-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.select-input h3 {
  border-radius: 5px;
  margin-bottom: 0.3rem;
}

.select-input input {
  margin-right: 10px;
}

.button-select-graphics {
  display: flex;
  flex-direction: row;
  margin: 2rem 0rem;
  justify-content: center;
}

.select-box .select-input h3 {
  font-size: 1rem;
}

.datepicker-toggle {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 19px;
}

.datepicker-toggle-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;base64,...");
}

.selected {
  margin:0 2rem;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.button-graphics {
  margin:0 2rem;
  color: #333;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 5px;
}
.graphic-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}
.graphic-container .graphic-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}
.graphic-container .graphic-color-green{
  background-color: #6EFA9B;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.graphic-container .graphic-color-red{
  background-color: #FA4C48;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
@media (max-width: 768px) {
  .top-box {
    margin-top: 2rem;
  }

  .top-box .select-box {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
}
