.outside-wait h1{
      font-size: 1.1rem;
}
.outside-wait h1 b{
    color: #6E6E6E;
    font-weight: 500;
}
@media(max-width: 768px){
 .inside-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }
 .box-confirm{
    margin-top: 2rem;
 }
}