appdirs==1.4.4
blinker==1.8.2
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==8.1.7
colorama==0.4.6
dnspython==2.7.0
Flask==3.0.3
flexcache==0.3
flexparser==0.3.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==3.0.0
mathparse==0.1.2
nltk==3.9.1
Pint==0.24.3
pymongo==3.13.0
python-dateutil==2.7.5
pytz==2024.2
PyYAML==3.13
regex==2024.9.11
six==1.16.0
SQLAlchemy==1.2.19
tqdm==4.66.5
typing_extensions==4.12.2
Werkzeug==3.0.4
